.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.navbar {
 color: #F9F9F9;
}

.card-body {
  background: #F9F9F9;
  color: black;
  border: #56A9E6 12px solid;
  height: 400px;
  width: 300px;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 16px black;
  margin: 0 auto;
  margin-bottom: 24px;
  user-select: none;
  cursor: pointer;
}

.card-front{
  font-size: 64px;
}

.card-back {
  height: 400px;
  width: 300px;
  background: #56A9E6;
  color: #F9F9F9;
  border: #F9F9F9 12px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 16px black;
  margin-bottom: 24px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.card-back-container{
  position: absolute;
  top: 24px;
  left: 16px;
}

.card-back-title {
  position: absolute;
  text-align: left;
  left:24px;
}

.card-back-title-text {
  margin-bottom: 64px;
}

.card-back-right {
  position: relative;
}

.card-back-katakana {
  position: absolute;
  top: 4px;
}

.card-back-onyomi {
  position: absolute;
  top: 28px;
}

.card-back-hiragana {
  position: absolute;
  top: 100px;
}

.card-back-kunyomi {
  position: absolute;
  top: 124px;
}

.card-back-meaning {
  position: absolute;
  top: 196px;
}

.card-back-def {
  position: absolute;
  text-align: left;
  left: 160px;
  width: 100px;
}

h4 {
  margin: 0px;
}

.jlpt-badge {
  position: absolute;
  right: -9px;
  bottom: -9px;
  background: #F9F9F9;
  color: #56A9E6;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.jlpt-title {
  margin-top: 4px;
  margin-bottom: -1px;
  font-weight: 400;
}

.jlpt-lvl {
  margin-top: 4px;
  font-weight: 700;
}

button {
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  color: #F9F9F9;
  background-color: #56A9E6;
  cursor: pointer;
  box-shadow: 16px black;
}

@media screen and (max-width: 475px) {
  .jlpt-lvl {
    display:grid;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }

  .card-back-katakana {
    position: absolute;
    top: 0px;
  }

  .card-back-onyomi {
    position: absolute;
    top: 24px;
  }

  .card-back-hiragana {
    position: absolute;
    top: 88px;
  }

  .card-back-kunyomi {
    position: absolute;
    top: 112px;
  }

  .card-back-meaning {
    position: absolute;
    top: 184px;
  }
}
