.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color:azure;
}

.card-body {
  background: #F9F9F9;
  color: black;
  border: #56A9E6 8px solid;
  height: 400px;
  width: 300px;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 16px black;
  margin: 0 auto;
  margin-bottom: 24px;
  user-select: none;
  cursor: pointer;
}

.card-front{
  font-size: 64px;
}

.card-back {
  height: 400px;
  width: 300px;
  background: #56A9E6;
  color: #F9F9F9;
  border: #F9F9F9 8px solid;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 16px black;
  margin: 0 auto;
  margin-bottom: 24px;
  user-select: none;
  cursor: pointer;
}

button {
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  color: #F9F9F9;
  background-color: #56A9E6;
  cursor: pointer;
  box-shadow: 16px black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
